body {
  font-size: 16px;
}

#symbols-list ul li {
  list-style: none;
}

a {
  color: #85A0C1;
}

a:active, a:hover {
  color: #68ABFC;
  text-decoration: none;
}


a i {
  font-size: 14px;
  padding: 0 3px;
}


#page-content {
  margin-top: 50px;
}

.label-key {
  font-size: 90%;
}

html, body {
  background: #262728;
  color: #E0E0E0;
}

.nav > li > a:hover {
text-decoration: none;
background-color: #545352;
}

.symbol {
  padding: 10px 30px 30px 30px;
  background: #fff;
  -moz-border-radius: 35px;
  border-radius: 35px;
  margin-bottom: 35px;
  color: #262728;
}

.navbar-inner a.brand {
  margin: 0 0 0 0px;
}

.autocomplete,
.filter,
.number-symbols {
  margin: 35px;
}

.expand {
  margin-top: 35px;
  padding: 10px;
  font-size: 90%;
}

.symbol .content {
  color: #262728;
}

.tab-pane {
  min-height: 300px;
}

#home .link {


}

#home .content {
   padding: 35px 0;
}