body {
  font-size: 16px;
}
#symbols-list ul li {
  list-style: none;
}

a {
  color: #F9F7A0;
}
a:active, a:hover {
  color: #FCF73D;
  text-decoration: none;
}

#page-content {
  margin-top: 50px;
}

html, body {
  background: #000;
  color: #fff;
}

.nav > li > a:hover {
text-decoration: none;
background-color: #545352;
}

.symbol {
  padding: 10px 30px 30px 30px;
  background: #fff;
  -moz-border-radius: 35px;
  border-radius: 35px;
  margin-bottom: 35px;
  color: #000;
}

.navbar-inner a.brand {
  margin: 0 0 0 0px;
}

.autocomplete,
.filter,
.number-symbols {
  margin: 35px;
}

.expand {
  margin-top: 35px;
}

.symbol .content {
  color: #999;
}

.tab-pane {
  min-height: 300px;
}

#home .link {
  margin: 60px;
  display: block;
}

#home .content {
   padding: 35px 0;
}