<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>The Universal Symbol Sketchbook</title>
    <meta name="description" content="Collaboratively creating new civic symbols for the public domain.">
    <meta name="author" content="http://iconcamp.org">
    <meta property="og:site_name" content="Universal Symbol Sketchbook" />
    <meta property="og:description" content="Collaboratively creating new civic symbols for the public domain." />
    <meta property="og:title" content="Universal Symbol Sketchbook" />
    <meta property="og:url" content="http://iconcamp.org" />
    <meta property="og:image" content="http://iconcamp.png/images/iconcamp.png" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/libraries/bootstrap/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/libraries/bootstrap/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/libraries/bootstrap/images/ico/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/libraries/bootstrap/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    
    <link href="/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='/css/jquery.qtip.min.css' rel='stylesheet' type='text/css' /> 
    <link rel="stylesheet" href="/css/style.css" />
    
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26825221-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
  </head>
  <body>
    <!-- Set up Facebook -->
    <div id="fb-root"></div>
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="#home" data-toggle="tab">The Universal Symbol Sketchbook</a>

        <ul class="nav visible-desktop">
          <li><a href="#symbols" data-toggle="tab">Symbols</a></li>
          <li><a href="#process" data-toggle="tab">Design New Icons!</a></li>
        </ul>    

        <a href="#menu" class="menu-link pull-right hidden-desktop"><i class="icon-list"></i></a>  
      </div>
    </div>    

  <!-- Main page content -->
  <div class="container-fluid main-content">

  <div id="page-content" class="tab-content">

    <div id="menu" class="tab-pane">
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#symbols" data-toggle="tab">Symbols</a></li>
        <li><a href="#process" data-toggle="tab">Design New Icons!</a></li>
      </ul>
    </div>

    <!-- home-->
    <div class="tab-pane active fade in row" id="home">
      <div class="span12">
        <h3>Collaboratively creating new universal symbols for the public domain</h3>

        <h4>Recent Symbols Sketches</h4>
        <div class="span12">
    
        <a href="#symbols" data-toggle="tab" class="link"><i class="icon-play icon-white"></i>See All Sketches</a>
        
        
          <div class="span2">
<a href="http://www.flickr.com/photos/thenounproject/7490617490/" title="IMG_0252 by The Noun Project, on Flickr"><img src="http://farm8.staticflickr.com/7130/7490617490_8c5fd659a6_q.jpg" width="150" height="150" alt="IMG_0252"></a><br />Dog Park</div>

          <div class="span2">
         <a href="http://www.flickr.com/photos/thenounproject/7490853942/" title="IMG_0229 by The Noun Project, on Flickr"><img src="http://farm9.staticflickr.com/8293/7490853942_0e5572f423_q.jpg" width="150" height="150" alt="IMG_0229"></a><br />Community Kitchen</div>

          <div class="span2">
          <a href="http://www.flickr.com/photos/thenounproject/7490898380/" title="IMG_0225 by The Noun Project, on Flickr"><img src="http://farm9.staticflickr.com/8010/7490898380_fb693f6d9b_q.jpg" width="150" height="150" alt="IMG_0225"></a><br />Translation Services</div>
          </div>

        </div>
        <div class="span6 content">
        <h4>About</h4>
          <p>The sketches in <em>The Universal Symbol Sketchbook</em> are the raw material of a new collaboratively created visual language. Most sketches were made at public design events called Iconathons, IconCamps and IconSalons. Our shared goal is to generate symbols that reflect the world we live in -- <em>and the world as we would like it to be</em>.</p>
          
          <p>Final vector symbols created from these sketches are shared with a Public Domain license, to be freely used and adapted by anyone who needs them.</p>
          
          <p>We have created this online gallery to make it easier for everyone to see all of the great ideas for new symbols from around the world. What's special about this design movement is that we have the opportunity to craft new symbols for our world -- and for the first time in history, we can make this process open, participatory, transparent and democratic.</p>
        </div>


    </div><!--/end home-->

    <div class="tab-pane fade in row" id="symbols">
        <div id="symbols-list" class="span12">
          <div class="loading">Loading all of the symbols!!</div>
          <script type="text/template" id="symbolsTemplate">  

          <div class="autocomplete span3">
            <h1>Symbols</h1>
            <p>We are collaboratively creating new civic symbols for the public domain.</p>
            <p><a href="#process" data-toggle="tab"><i class="icon-play icon-white"></i>Process</a></p>
            <p><a href="#contribute" data-toggle="tab"><i class="icon-play icon-white"></i>Contribute</a></p>
          </div>

          <div class="autocomplete span3">
            <h2>Search</h2>
            <input id="symbols-autocomplete" type="text" data-provide="typeahead" size="60">
          </div>
          
          <div class="filter span3">
            <h2>Status</h2>
            <select id="symbols-options" class="nav nav-pills">
              <option value="all">All</option>
              <option value="no-sketches">No sketches</option>
              <option value="not-vectorized">Not vectorized</option>
              <option value="sketches-missing">Sketches missing</option>
              <option value="vectors-available">Vectors available</option>
            </select>
          </div>
          
          <div class="number-symbols span3"></div>
          
<div class="span12 label-key">
            <p class="span2"><span class="label" value="no-sketches">No sketches</span> Ideas for new symbols generated by communities and community leaders and suggested for Icon-making event.</p>
            <p class="span2"><span class="label badge-important" value="not-vectorized">Not vectorized</span> We have sketches generated at <a href="http://iconathon.org">Iconathons</a>, <a href="#iconcamp">IconCamps</a>, <a href="#iconsalon">IconSalons,</a> and by individuals. No one has converted these sketches to vectors yet.</p>
            <p class="span2"><span class="label badge-warning" value="sketches-missing">Sketches missing</span> We know that someone worked on these ideas, and we are still tracking down photos of the sketch.</p>
            <p class="span2"><span class="label badge-success" value="vectors-available">Vectors available</span> A designer has converted a sketch into a vectorized interpretation. This version might be available on the Noun Project website.</p>
          </div>

          
          <ul class="list span12">
          <% _.each(symbols, function (symbol) { %> 
            <% if (symbol.name !== undefined) { %>  
              <li class="symbol">
                <h3 class="title"><%= symbol.name %></h3>
                <div class="row">
                  <% if (symbol.url !== null) { %>
                    <div class="media span4">
                      <p>Sketch</p>
                      <a class="embed image link" href="<%= symbol.url %>">Check it out</a>                    
                    </div>
                  <% } %>
  
                  <% if (symbol.imagesvg !== null && symbol.imagesvg !== "" && symbol.finallink !== null ) { %>
                    <div class="final-svg span4">
                      <p>Final Symbol</p>
                      <a href="<%= symbol.finallink %>"><%= symbol.imagesvg %></a>
                    </div>
                  <% } %>  
                </div>
                <% if (symbol.status !== null) { %>
                  <span class="status label <%= symbol.status_display %>"><%= symbol.status %></span><br />
                  <span class="expand"><i class="icon-plus"></i>Details</span>
                <% } %>
                    
                <div class="content">

                  <% if (symbol.team !== null) { %>
                    <span class="detail"><h4>Team</h4><%= symbol.team %></span>
                  <% } %>

                  <% if (symbol.updated !== null) { %>
                    <span class="detail"><h4>Updated</h4><%= symbol.lastupdated %></span>
                  <% } %>

                  <% if (symbol.topic !== null) { %>
                    <span class="detail"><h4>Topic</h4><%= symbol.topic %></span>
                  <% } %>

                  <% if (symbol.tags !== null) { %>
                    <span class="detail"><h4>Tags</h4><%= symbol.tags %></span>
                  <% } %>

                  <% if (symbol.finallink !== null) { %>
                    <h4>Source Code</h4>
                    <span class="detail"><a href="<%= symbol.finallink %>">Hosted on Noun Project</a></span>
                  <% } %>

                  <% if (symbol.event !== null) { %>
                    <span class="detail"><h4>Event</h4><%= symbol.event %></span>
                  <% } %>
                  
                  <% if (symbol.body !== null) { %>
                    <span class="detail"><%= symbol.body %></span>
                  <% } %>
                </div>
                
                
                
              </li>  
            <% } %>
          <% }); %>
          </ul>
          </script>
        </div>
    </div>


    <div class="tab-pane fade in" id="contribute">
      <h1>Contribute</h1>
        <div class="span6">
        <h3>Share ideas for new symbols</h3>
        <p>The Universal Symbol Sketchbook is 100% volunteer-run, so we can use your help!</p>
        
          <h3>Contribute a sketch</h3>
          <p><a href="#share-sketch"><i class="icon-plus icon-white"></i>Share sketch</a></p>
  
         <h3>Vectorize symbols</h3>
        <p>Our goal is to create polished, professional, interoperable universal symbols that can be used to improve communication. This sketchbook helps to make it easier to see all of the great ideas that can use your illustration talents. Illustrators can vectorize the symbols and contribute them to <a href="http://thenounproject.com">The Noun Project</a> through their user submission form (symbols should adhere to their guidelines otherwise they might not be accepted.)</p>
        
         <p>Please indicate which sketches gave you inspiration, so that everyone who developed the idea can be attributed.</p>
               
        
        <h3>Share many sketches from an event</h3>

        <p>Doing an Icon-making event can generate dozens of sketches and ideas for new symbols. These are often really good ideas, and are simply waiting for someone to volunteer to vectorize the symbol and get it to be professional quality. We have figured out the easiest way to get your sketches online, and into this database of symbol sketches.</p>
        <h4>1. Upload to the web</h4>
        <p>To share, upload images to Flickr, label your images, and tag them with Iconathon, IconCamp, or IconSalon.</p>
        <h4>2. Make a spreadsheet</h4>
        <p>Create a google doc (in a similar format to <a href="https://docs.google.com/spreadsheet/ccc?key=0AnUUGMHge9o_dFVnMXJyZlY3Z2RBMGdId3d1dGZ2dVE">this one</a>) and share the link to @chachasikes on Twitter. We will get your sketches into the Universal Symbol Sketchbook as soon as we can.</p>
        
        <h4>RSS feed -- alternative for large sets on Flickr</h4>
        <p>If you have a large set of <em>labeled</em> Flickr images, you can export an RSS feed of an entire labeled set and share that with us as well. Only the set owner can export a full feed, make sure the feed contains all of the images, not just the default preview of 20 images.</p>
        
        <h3>Help with documenting and data cleanup</h3>
        <p>We have almost 1000 symbol sketches, and we have not associated all of the photos of sketches with symbols (nor with all of the final, finished vector symbols from 2011) -- if you are interested in doing some database cleanup work, please contact @chachasikes (via Twitter.)</p>
        
        <h3>App</h3>
        <p>We have a very lightweight and simple app -- if you are looking for a code project to volunteer for (and you know nodejs, mongo, javascript) please let us know you are interested. <a href="https://github.com/chachasikes/universal-symbol-sketchbook">On Github</a></p>
        
        <h3>Donate</h3>
        <p>If you like this project, feel free to support us. We would like a grant to support ongoing maintenance, development and outreach.</p>
        </div>      
      </div>

    <div class="tab-pane fade in" id="process">
      <h1>Design New Icons!</h1>
      <div class="span6">

        <p>Most of the sketches you see in <em>The Universal Symbol Sketchbook</em> were created at collaborative design brainstorms called <a href="http://iconthon.org">Iconathons</a>, <a href="#iconcamp">IconCamps</a> or <a href="#iconsalon">IconSalons.</a></p>
        
        <h3>Process</h3>
        <p>We invite communities and community leaders to suggest ideas for new symbols.</p>
        <p>We create a short-list of symbols to bring to a community design event:</p>
        <ul>
        <li>Universal symbols for the idea do not already exist.</li>
        <li>Symbols will have broad impact if created and shared.</li>
        <li>Symbols are fun to create (with volunteer time.)</li>
        <li>Symbols present a design challenge, or require public dialogue to come up with good symbolism for challenging ideas.</li>
        </ul>
        <p>We invite designers, citizens and knowledgable people to gather to brainstorm visual ideas. We use paper and markers. We then document all of the sketches with a camera, so that everyone in the world will be able to see what we are doing. A handful of volunteer illustrators will work to digitize ("vectorize") some of the more readable symbols.</p>

        <p>Due to volunteer capacity and time, there are usually a lot of great ideas that do not get vectorized, which is why they are online -- so that someone else can take a turn at creating the symbol.</p>
        
        <p>The final vectorized symbols may be contributed and published on the Noun Project website (for example, look at the <a href="http://thenounproject.com/collections/iconathon/">Iconathon</a> collection). The Noun Project website has a lot of visibility among designers already, and this helps get the new symbol out to the world. Everyone who has worked on the symbol gets attributed, and the symbol is shared as a consistenly formatted scalable vector graphic (SVG) with a Public Domain license.</p>
        
        <p>If your vector symbol is still not finished, but you want to share it, you may contribute it to the Universal Symbol Sketchbook.</p>
        
        <p>Not all new vector symbols are perfect. Technically, a symbol is not "universal" until it is actually used by real people to communicate, but we are getting this process started. Got to start somewhere, right?</p>
        
        <p>We test that a symbol is readable by showing it to someone who has not seen it and asking "What is it?" -- if they can guess, then that's at least the beginning of a good test to see if the new symbol makes sense. If not, we should keep trying to make a better symbol!</p>
        
        <h3>Participate in this movement</h3>
        <p>These events are very helpful for brainstorming symbol ideas, but you are also welcome to work on any ideas you might have on your own.</p>
        <p><a href="#contribute"><i class="icon-plus icon-white"></i>Share sketches</a></p>
         
        <h3>Organize an Icon-Making Event</h3>
        <p>Here are some instructions for how to organize an <a href="#iconcamp">Icon Camp</a> & <a href="#iconsalon">Icon Salon.</a> If you would like to organize an official <a href="http://iconathon.org">Iconathon</a>, please contact <a href="http://twitter.com/nounproject">The Noun Project.</a></p>
      </div>
    </div>

    <div class="tab-pane fade in" id="share-sketch">
      <h1>Share a sketch</h1>
      <p>If you have a new sketch for an idea you can share it in a few ways.</p>
      <h3>Twitter</h3>
      <p>You can tweet us at @Iconcamp - we will periodically add sketches from twitter to the symbol gallery.<br />
      Please include
      <ul>
        <li>Image</li>
        <li>Concept idea</li>
        <li>Names of people who developed the sketch</li>
        <li>Name of event, if at an event</li>
        <li>City</li>
      </ul></p>
      <h3>Share with a form!</h3>
      <p><iframe src="https://docs.google.com/spreadsheet/embeddedform?formkey=dFVBMUl2ZThieXYzYnFpeHV0a2NTbVE6MQ" width="760" height="1181" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe></p>
    </div>
    
    <div class="tab-pane fade in" id="iconsalon">
      <h1>Icon Salons</h1>
      <div class="span6">
      <p>Icon Salons are a more informal version of an Icon Camp. If you want to work on some sketches with a few people, you can meet up in a bar or café with a list of concepts, some sharpies and post-its, and sketch away. Make sure there is table space and at least some light.</p>
      </div>
    </div>

    <div class="tab-pane fade in" id="iconcamp">
    <h1>IconCamps</h1>

    <div class="span6">
    
    <em>Process documented by Chach Sikes (Code for America), Karla Macedo (Code for America) and Sofya Polyakov (The Noun Project) - August 2011</em>
    <h3>Overview</h3>
    <p>An Icon Camp is an independently organized collaborative design event in which participants create new civic symbols for the public domain. 
        
    <h3>Organize an IconCamp</h3>
    <p>Hosting your own Icon Camp means you get to choose a civic theme you are passionate about. Once you select a civic theme, determine which concepts need to be defined through symbols. Develop a list of symbols that are missing from our visual civic vocabulary, then narrow down the list to a manageable size depending on the number of people you expect to attend your Icon Camp.</p>
    
    <p>If possible, partner with an organization or experts in the field of your theme to do a brief presentation at the event and to help you further define what challenges can be addressed through the use of these newly designed symbols. Then invite talented people passionate about bringing new civic symbols into the world to help you create a new symbol suite for your theme!  The symbols you create can be submitted for curation to The Noun Project, and if they meet the stylistic and technical requirements, will be released into the public domain for everyone to use.</p>

    <h4>About Icon Camps</h4>
    Icon Camps are the open & independent version the <a href="http://iconathon.org">Iconathon</a> (facilitated by the Noun Project.) The goal of all of these events is to generate and release new Civic Symbol Suites for the public domain. The original Iconathon was founded by <a href="http://codeforamerica.org">Code for America</a> and  <a href="http://thenounproject.com">Noun Project</a> with the participation of additional local and national partners.</p> 
    
    <h3>Tips</h3>
    <p>Below are some helpful guidelines for what to do before, during, and after your Icon Camp. Keep in mind that each event will have different needs based on your group size. All examples and references are provided via links below. <strong>All signs and forms you will need to use during your event can be downloaded from <a href="https://docs.google.com/a/codeforamerica.org/#folders/0B2kXyXEM9r5SOWIzNTY1MDAtYTdiMy00NmI1LTk1ZTctMDJmYjViNzk3ZTMy">here.</a></strong></p>
    
    
    <h4>Step 1. Before the Event</h4>
    
    <h5>Planning</h5>
    <ol>
    <li>Select a Civic Theme you’re passionate about (ex: women’s health).</li>
    <li>Think of a list of 30-50 concepts that need to be visually defined. If you like, you can use the <a href="/symbols">Symbols</a> gallery on the Iconathon website as a resource.
    <li>Contact organizations or experts in the field to speak at your event, and provide an overview of which symbols would be most useful. For example, for the Iconathon tour, we invited city employees, urban planners, domain experts, open government advocates to advise us in our list of symbols that would have high impact, to answer questions about the use cases & contexts in which symbols would be used, and to educate & inspire event attendees in the subject matter.</li>
    <li>Narrow down the concept list to about 30 nouns, depending on your group size.  Example of a <a href="https://docs.google.com/spreadsheet/ccc?key=0AmkXyXEM9r5SdHBHMDZJejhsMUV3dDVyMmZhczYwa3c&hl=en_US">List in Progress</a>, Example of final printed <a href="http://www.flickr.com/photos/thenounproject/6066962949/">Concept List</a>. We recommend one noun for every person attending the event. We found it was helpful to research symbols ahead of time, and to have the symbol list confirmed at least one week prior to the event.
    <li>Book a venue or space.  Since this is a design event, make sure the space has the necessary amenities for drawing (such as tables and chairs).  The space should also have Internet available for researching concepts or images.</li>
    <li>Post your event on iconathon.org.</li>
    </ol>
    
    <h5>Organizing</h5>
    <ol>
    <li>Invite designers and non-designers to participate (non-designers provide valuable opinions about the effectiveness of the designs being created).  See blog post <a href="http://iconathon.org/119/but-i-cant-draw">“But I Can’t Draw”.</a></li>
    <li>Consider using Social Media, such as <a href="http://eventbrite.com">Eventbrite</a>, Twitter & Facebook, to help spread the word.</li>
    <li>Create <a href="http://www.flickr.com/photos/linepithemate/6040758558/">Folders</a> for each concept you want defined.  These are very useful in keeping track of who worked on each symbol, and the sketches created.  They’re also a great tool for post-event follow up.  Include an Attribution List in each folder.  Folder examples: <a href="http://www.flickr.com/photos/thenounproject/6069971719/">Example 1</a>, <a href="http://www.flickr.com/photos/thenounproject/6070520768/">Example 2</a>, <a href="http://www.flickr.com/photos/thenounproject/6070514260/">Example 3</a>.</li>
    <li>Create a Day-of-Information handout for your attendees (for larger groups).  These can include a brief <a href="schedule</a> of the day, any wireless sign-in information, and a list of the nouns participants will create.  Examples: <a href="http://www.flickr.com/photos/thenounproject/6070512606/">Day-of-Information Handout</a>, <a href="http://www.flickr.com/photos/thenounproject/6066950399/">Schedule of the Day.</a></li>
    <li>Consider providing Nametags for participants to encourage communication and networking.</li>
    <li>Remind your attendees of the event a day or two before the event, and encourage them to bring laptops and whatever art supplies they would like to use or share.
    <li>If possible, arrange to have water, coffee and snacks for attendees.</li>
    <li>If you are having presentations, ensure that your venue has a projector and appropriate cables to connect presenter’s laptops.</li>
    </ol>
    
    <h5>Essential <a href="http://www.flickr.com/photos/linepithemate/6040205925/">Art Supplies</a> to have during the event</h5>
    <ul>
    <li>Paper: 8x11 and/or legal size</li>
    <li>Post-it notes (3”x3” size)</li>
    <li>Tracing Paper</li>
    <li>Pencils and lots of Sharpies</li>
    <li>Scotch tape</li>
    <li>If your venue has whiteboards, make sure you have dry erase markers.</li>
    <li>Digital cameras</li>
    </ul>
    
    
    <h4>Step 2. Day of the Event</h4>
    <ol>
    <li>Arrive about an hour in advance to <a href="http://www.flickr.com/photos/thenounproject/6066963267/">Set Up</a> the Art Supplies, Folders, Day-of-Info.</li>
    <li>Start the event by providing an overview of what you would like to accomplish, and introduce any of your speakers.</li>
    <li>If possible, make available the “User Comprehension & How It Applies to Symbol Design” presentation to provide a good overview of best symbol design practices. Coming soon!</li>
    <li>Participants should form <a href="http://www.flickr.com/photos/thenounproject/6066964617/">Groups</a> of 3 to 5 to work on designing symbols as a team.  This encourages discussions of the concept and helps narrow down the essence that should be used for symbol design.</li>
    <li>We found that the brainstorming process is intensive and people can brainstorm for about 2 hours before they start to get tired.</li>
    <li>End the day with <a href="http://www.flickr.com/photos/thenounproject/6067565890/">Group Presentations</a> about which symbols were designed, what design challenges each group faced, and an overview of which symbols where successful in communicating their intention. <li>This process can help to clarify which symbols are ready to be converted to graphic by volunteer illustrators. We found that sketches are either very strong and ready to be “vectorized,” or else they “need work.” Not every symbol has to be vectorized. (<a href="http://www.youtube.com/results?search_query=iconathon&aq=f">YouTube videos of group presentations</a></li>
    <li>For large groups, having a strong facilitator who is knowledgeable in art critique process can help move people through group critiques. Critiquing 20 designs takes about an hour.
    <li>For small groups without strong design leadership, and in limited time situations, we found that placing small sticker dots on designs that resonated helped to clarify which designs were ready for vectorization.</li>
    <li>Make sure that everyone from each group listed their names in the <a href="http://www.flickr.com/photos/thenounproject/6067497708/">Folder’s Attribution List</a>. It’s important to keep track of who worked on each symbol for attribution purposes. If possible, place a small sticker dot next to symbols that everyone agreed was ready to move on. After the event, it is easy to forget which symbol was the final choice. For an event with 30 attendees, you can easily have 200 sketches generated.</li>
    <li>Ask for volunteers who will be in charge of turning the Finished Sketches into Vectorized Symbols.  Your volunteers should be graphic designers who are comfortable with Illustrator or other design programs.  Write down their emails for further communication.</li>
    </ol>
    
    <h4>Step 3. After the Event</h4>
    <ul>
    <li>Reach out to your volunteers to make sure everyone knows what symbol they’re responsible for designing.  We recommend a two-week deadline for turning sketches into symbols that are ready to be submitted.</li>
    <li>Photo-document all of the sketches. Documenting makes managing volunteers easier, and allows other people to see your sketches, which helps other to understand what Iconathons & Icon Camps are all about. The sketches are inspiring, since they tend to be rough, which encourages non-designers to participate.</li>
    <li>Documenting the sketches from the event takes a few hours, and is easiest done right after the event while you still remember. We found it helpful to photograph sketches with a label & dot next to the symbols that people agreed was final.</li>
    </ul>
    
    <h5>Our workflow</h5>
    <li>Upload photos to a Flickr account (if you have one.) In the batch organizer, go through and label all of the photos. Tag all of the photos with the following tags: iconcamp, iconathon, {city name}, {topic}, {organizers}. Send photos to the Iconathon Flickr pool.</li>
    <li>To share your sketches in the <a href="http://iconathon.org/symbols">Social Symbol Gallery</a> on the iconathon.org website, download this <a href="https://docs.google.com/a/codeforamerica.org/spreadsheet/ccc?key=0Au9b06maMy4TdHVWNzRDMV9fblpyOTFhc3drUzhva1E&hl=en_US">sample spreadsheet of symbols</a>. You will want to add the name of the symbol, tag each item, and then grab the HTML code for the images in Flickr (or any other photo sharing tool). To add multiple images, separate each HTML tag with a comma. Add a story about the symbol making process in the ‘body’ field, and a ‘description’ of the symbol.</li>
    <li>Status: To help keep track of symbols, you can set the Status:<br />
    - ‘Not Started’ - helpful for sharing symbols that are important, but no one worked on at the event.<br />
    - ‘Has Sketches’ - helpful to indicate symbols that people tried to make, but did not succeed at the Icon Camp event.<br />
    - ‘Being Vectorized.’ - helpful to indicate that a volunteer has ‘checked out’ the symbol.</li>
    <li>Volunteers, volunteer email & team. Record the Team for attribution, and emails for keeping track of who is doing what. You will need this information when you submit final symbols to the Noun Project library.</li>
    <li>To have all of your symbols added, contact @iconathon, iconathon@codeforamerica.org, we will review & upload your spreadsheet to the iconathon.org website if it meets our requirements (technical, subject matter, appropriate.)</li>
    <li>When your final SVG symbols are in the Noun Project website, we can update the iconathon.org website to show the final sketches. You are welcome to add comments & share SVG versions of symbols on the iconathon.org website. Contact us if you need help: @iconathon, iconathon@codeforamerica.org.</li>
    <li>For motivation, you might want to arrange for a high profile blog post showcasing the symbols created through the Icon Camp. Tweet your blog post to @Iconathon,  @nounproject & @codeforamerica. 
    (Example: Iconathon creates first collaboratively developed Civic Symbol Suite. ( Coming soon!)</li>
    <li>Make sure the symbols are designed following The Noun Project’s Stylistic and Technical Requirements.</li>
    <li>You may need to send reminder emails to your volunteer illustrators, and give them some feedback to ensure that those symbols are balanced, have good use of line weight. Remember that everyone is a volunteer, and that people are learning symbol design.</li>
    <li>User comprehension. A trick for testing that a symbol has good comprehension is to show someone the symbol and ask them what it is. The more people that agree, the better. Especially people from different backgrounds and in different contexts.</li>
    </ul>
    
    Have final symbols? Please email us at civicsymbols@thenounproject.com.
    Celebrate adding to the World’s Visual Dictionary!
    
    
    If you have any questions, please contact us at:
    Email: iconathon@codeforamerica.org
    Twitter: <a href="http://twitter.com/iconathon">@Iconathon</a>
    Flickr Group: Iconathon
    
    
    
    <h4>What's the difference between an Iconathon and an Icon Camp?</h4>
    
    <h5>Iconathon</h5> 
    A multi-city design marathon in which many people come together to create symbols based on themes, which are released to the public domain through the Noun Project website as a Civic Symbol Suite after the tour is complete and the design sketches are finished through volunteer effort. Organized by Code for America & The Noun Project. 
    
    The first Iconathon was a 6 city tour, with 6 different themes. The Civic Symbol Suite will be released in early October 2011. 150 people attended events across the nation, over 100 symbols sketches were generated, and we expect the Civic Symbol Suite to have between 50 and 80 polished symbols.
    
    These events will need to be seasonal because the coordination, event planning, and community managing of dozens of volunteer illustrators is time intensive. Code for America is a fellowship program, which means that this years event organizers, Karla Macedo & Chach Sikes, will be somewhere else, though they hope to be involved in next year's Iconathons with more Code for America fellows.
    
    <h5>Icon Camp</h5>
    An independently organized event in which a group of people get together to create symbols for the public domain. Symbols can be shared through this website and through the Noun Project's user submission. We are working to provide tools to help the symbols at these events have a broader audience & impact. Those tools include: through event documentation, tips on identifying symbols that need sketches, lists of symbols that no-one worked on at previous Iconathons, lists of sketches that were difficult and need additional attention, information about symbol design. We can make it possible to list your Icon Camp events on this website.
      
  </div>
    
    </div>

    <div class="tab-pane fade in" id="events">
      <h1>Past Events</h1>
      <p>Icon-creating events that we know about</p>
      <ul>
        <li>311 (City Services) - Iconathon - (San Francisco) - August 2011</li>
        <li>Food & Nutrition - Iconathon - (Los Angeles) - August 2011</li>
        <li>Democracy - Iconathon - (Chicago) - August 2011</li>
        <li>Neighborhoods - Iconathon - (Seattle) - August 2011</li>
        <li>Education - Iconathon - (Boston) - September 2011</li>
        <li>Transporation - Iconathon - (New York City) - September 2011</li>
        <li>Occupy Icons - Icon Camp - (San Francisco) - November 2011</li>
        <li>Energy Efficiency - Iconathon - (Raleigh, NC) - 2011</li>
        <li>Sea Monsters - Icon Salon - (San Francisco) - April 2012</li>
        <li>Pictobike - Icon Camp - (Curitaba, Brazil) - May 2012</li>
        <li>Archaeology - Icon Camp - (San Francisco) - May 2012</li>
        <li>Health Foo - Icon Salon - (Boston) - June 2012</li>
        <li>Central Market Revitalization - Iconathon - (San Francisco) - July 2012</li>
        <li>LA River - Iconathon - (Los Angeles) - July 2012</li>
        <li>Emergency Preparedness - Iconathon - (Washington D.C.) - October 13, 2012</li>
      </ul>
    </div>

    <div class="tab-pane fade in" id="contact">
      <h1>Contact</h1>
      <div class="span6">
      <p>
              <p>For general advice and questions about any Icon-making related event, you can contact <a href="http://twitter.com/chachasikes">Chacha Sikes (@chachasikes)</a>, <a href="http://twitter.com/KMImagine">Karla Macedo (@KMImagine)</a>, or <a href="http://twitter.com/nounproject">The Noun Project (@nounproject)</a>.</p>
      </p>
      </div>
    </div>

    </div><!--/end tab content-->
  </div><!--/end container-fluid-->
  
  <hr>
      <footer>
          <div class="container-fluid">  
          <div class="row-fluid">           
            <ul class="nav nav-pills">
              <li><a href="#contribute" data-toggle="tab">Contribute</a></li>
              <li><a href="#share-sketch" data-toggle="tab">Share Sketch</a></li>
              <li><a href="#iconcamp" data-toggle="tab">IconCamp</a></li>
              <li><a href="#iconsalon" data-toggle="tab">IconSalon</a></li>
              <li><a href="#events" data-toggle="tab">Past Events</a></li>
              <li><a href="#contact" data-toggle="tab">Contact</a></li>
            </ul>       
            <div class="contact">
                <p>&copy; IconCamp 2011-2012</p>
            </div>
          </div>
        </div><!--/end container-fluid-->
      </footer>

    </div><!--/.fluid-container-->
    <!-- Javascript libraries -->
    <script type="text/javascript" src="/javascripts/libraries/jquery-1.8.0.min.js"></script>
    <script type="text/javascript" src="/libraries/bootstrap/js/bootstrap.js"></script>    
    <script type="text/javascript" src="/javascripts/libraries/tabletop.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/json2.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/underscore-min.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/jquery.oembed.js"></script>
    <script type="text/javascript" src="/javascripts/custom/iconcamp.js"></script>

  </body>
</html>
