<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    <title>Icon Camp!</title>
    <meta name="description" content="Collaboratively creating new civic symbols for the public domain.">
    <meta name="author" content="http://iconcamp.org">
    <meta property="og:site_name" content="Universal Symbol Sketchbook" />
    <meta property="og:description" content="Collaboratively creating new civic symbols for the public domain." />
    <meta property="og:title" content="Universal Symbol Sketchbook" />
    <meta property="og:url" content="http://iconcamp.org" />
    <meta property="og:image" content="http://iconcamp.png/images/iconcamp.png" />

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="default" />
 
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/libraries/bootstrap/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/libraries/bootstrap/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/libraries/bootstrap/images/ico/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="/libraries/bootstrap/images/ico/apple-touch-icon-57-precomposed.png">
    <link rel="shortcut icon" href="/images/favicon.ico">
    
    <link href="/libraries/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='/css/jquery.qtip.min.css' rel='stylesheet' type='text/css' /> 
    <link rel="stylesheet" href="/css/style.css" />
    
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-31304169-1']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>
    <!-- Set up Facebook -->
    <div id="fb-root"></div>
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <a class="brand" href="#home" data-toggle="tab">Universal Symbol Sketchbook</a>

        <ul class="nav visible-desktop">
          <li><a href="#symbols" data-toggle="tab">Symbols</a></li>
          <li><a href="#process" data-toggle="tab">Design New Icons!</a></li>
        </ul>    

        <a href="#menu" class="menu-link pull-right hidden-desktop"><i class="icon-list"></i></a>  
      </div>
    </div>    

  <!-- Main page content -->
  <div class="container-fluid main-content">

  <div id="page-content" class="tab-content">

    <div id="menu" class="tab-pane">
      <ul class="nav nav-tabs nav-stacked">
        <li><a href="#symbols" data-toggle="tab">Symbols</a></li>
        <li><a href="#process" data-toggle="tab">Design New Icons!</a></li>
      </ul>
    </div>

    <!-- home-->
    <div class="tab-pane active fade in row" id="home">
      <div class="row span4">
        <p>lipsum.</p>
      </div>          
    </div><!--/end home-->

    <div class="tab-pane fade in row" id="symbols">
        <div id="symbols-list" class="span12">
          <div class="loading">Loading all of the symbols!!</div>
          <script type="text/template" id="symbolsTemplate">  

          <div class="autocomplete span3">
            <h1>Symbols</h1>
            <p>We are collaboratively creating new civic symbols for the public domain. These are sketches generated at <a href="http://iconathon.org">Iconathons</a>, Icon Camps, Icon Salons and by individuals. Concept ideas generated by communities and community leaders.</p>
            <p><a href="#process" data-toggle="tab">Process</a></p>
            <p><a href="#contribute" data-toggle="tab">Contribute</a></p>
          </div>

          <div class="autocomplete span3">
            <h2>Search</h2>
            <input id="symbols-autocomplete" type="text" data-provide="typeahead" size="60">
          </div>
          
          <div class="filter span3">
            <h2>Status</h2>
            <select id="symbols-options" class="nav nav-pills">
              <option value="all">All</option>
              <option value="no-sketches">No sketches</option>
              <option value="not-vectorized">Not vectorized</option>
              <option value="sketches-missing">Sketches missing</option>
              <option value="vectors-available">Vectors available</option>
            </select>
          </div>
          
          <div class="number-symbols span3"></div>
          
          <ul class="list span12">
          <% _.each(symbols, function (symbol) { %> 
            <% if (symbol.name !== undefined) { %>  
              <li class="symbol">
                <h3 class="title"><%= symbol.name %></h3>
                <div class="row">
                  <% if (symbol.url !== null) { %>
                    <div class="media span4">
                      <p>Sketch</p>
                      <a class="embed image link" href="<%= symbol.url %>">Check it out</a>                    
                    </div>
                  <% } %>
  
                  <% if (symbol.imagesvg !== null && symbol.imagesvg !== "" && symbol.finallink !== null ) { %>
                    <div class="final-svg span4">
                      <p>Final Symbol</p>
                      <a href="<%= symbol.finallink %>"><%= symbol.imagesvg %></a>
                    </div>
                  <% } %>  
                </div>
                <% if (symbol.status !== null) { %>
                  <span class="status label <%= symbol.status_display %>"><%= symbol.status %></span><br />
                  <span class="expand"><i class="icon-plus"></i>Details</span>
                <% } %>
                    
                <div class="content">

                  <% if (symbol.team !== null) { %>
                    <span class="detail"><h4>Team</h4><%= symbol.team %></span>
                  <% } %>

                  <% if (symbol.updated !== null) { %>
                    <span class="detail"><h4>Updated</h4><%= symbol.lastupdated %></span>
                  <% } %>

                  <% if (symbol.topic !== null) { %>
                    <span class="detail"><h4>Topic</h4><%= symbol.topic %></span>
                  <% } %>

                  <% if (symbol.tags !== null) { %>
                    <span class="detail"><h4>Tags</h4><%= symbol.tags %></span>
                  <% } %>

                  <% if (symbol.finallink !== null) { %>
                    <h4>Source Code</h4>
                    <span class="detail"><a href="<%= symbol.finallink %>">Hosted on Noun Project</a></span>
                  <% } %>

                  <% if (symbol.event !== null) { %>
                    <span class="detail"><h4>Event</h4><%= symbol.event %></span>
                  <% } %>
                  
                  <% if (symbol.body !== null) { %>
                    <span class="detail"><%= symbol.body %></span>
                  <% } %>
                </div>
                
                
                
              </li>  
            <% } %>
          <% }); %>
          </ul>
          </script>
        </div>
    </div>


    <div class="tab-pane fade in" id="contribute">
      <h1>Contribute</h1>
      <p></p>
    </div>

    <div class="tab-pane fade in" id="process">
      <h1>Process</h1>
      <p></p>
    </div>

    <div class="tab-pane fade in" id="organize">
      <h1>Organize</h1>
      <p></p>
    </div>

    <div class="tab-pane fade in" id="about">
      <h1>About</h1>
      <p></p>
    </div>

    <div class="tab-pane fade in" id="contact">
      <h1>Contact</h1>
      <p></p>
    </div>

    </div><!--/end tab content-->
  </div><!--/end container-fluid-->
  
  <hr>
      <footer>
          <div class="container-fluid">  
          <div class="row-fluid">           
            <ul class="nav nav-pills">
              <li><a href="#about" data-toggle="tab">About</a></li>
              <li><a href="#contact" data-toggle="tab">Contact</a></li>
            </ul>       
            <div class="contact">
                <p>&copy; IconCamp 2011-2012</p>
            </div>
          </div>
        </div><!--/end container-fluid-->
      </footer>

    </div><!--/.fluid-container-->
    <!-- Javascript libraries -->
    <script type="text/javascript" src="/javascripts/libraries/jquery-1.8.0.min.js"></script>


    <script type="text/javascript" src="/libraries/bootstrap/js/bootstrap.js"></script>    

    <script type="text/javascript" src="/javascripts/libraries/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/libraries/jquery.dform/dist/jquery.dform-0.2.0.min.js"></script>


    <script type="text/javascript" src="/javascripts/libraries/tabletop.js"></script>



    <script type="text/javascript" src="/javascripts/libraries/json2.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/underscore-min.js"></script>

    <script type="text/javascript" src="/javascripts/libraries/jquery.oembed.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/jquery.masonry.min.js"></script>
    <script type="text/javascript" src="/javascripts/libraries/jquery.infinitescroll.min.js"></script>

    <script type="text/javascript" src="/javascripts/custom/iconcamp.js"></script>

  </body>
</html>
